In [1]:
import pandas as pd
import math

In [2]:
forest_df = pd.read_csv("../Input/forest.csv")

In [3]:
forest_df.head()

   1  2  3  4  5  6  7  8  9 10  ... 22 23 24 25 26 27 28 29 30 31
0  .  .  .  #  .  .  .  .  #  .  ...  .  #  .  #  .  .  .  #  #  .
1  .  #  .  .  #  .  .  .  #  #  ...  .  .  .  .  .  .  #  #  .  .
2  .  .  #  #  .  #  #  .  .  .  ...  .  .  #  .  .  .  .  .  .  #
3  .  .  .  .  #  .  .  .  .  #  ...  .  #  .  .  #  #  #  .  .  .
4  #  #  #  #  .  .  .  .  .  #  ...  .  .  #  .  .  .  .  #  .  .

[5 rows x 31 columns]

In [4]:
course_len = len(forest_df)
course_len

323

In [5]:
df_width = len(forest_df.iloc[0,:])
df_width

31

In [6]:
total_width_needed = course_len*7
total_width_needed

2261

In [7]:
num_of_df_needed = 80

In [8]:
for i in range(int(math.ceil(math.sqrt(num_of_df_needed)))):
    if len(forest_df.columns) >total_width_needed:
        break
    else:
        forest_df = pd.concat([forest_df,forest_df], axis=1)

In [9]:
forest_df.head()

   1  2  3  4  5  6  7  8  9 10  ... 22 23 24 25 26 27 28 29 30 31
0  .  .  .  #  .  .  .  .  #  .  ...  .  #  .  #  .  .  .  #  #  .
1  .  #  .  .  #  .  .  .  #  #  ...  .  .  .  .  .  .  #  #  .  .
2  .  .  #  #  .  #  #  .  .  .  ...  .  .  #  .  .  .  .  .  .  #
3  .  .  .  .  #  .  .  .  .  #  ...  .  #  .  .  #  #  #  .  .  .
4  #  #  #  #  .  .  .  .  .  #  ...  .  .  #  .  .  .  .  #  .  .

[5 rows x 3968 columns]

In [10]:
forest_df.iloc[0,0]

'.'

In [11]:
def tree_counter(df, right, down):
    lateral = right
    vertical = down
    tree_count = 0

    try:
        for i in range(len(df)):
            if df.iloc[vertical,lateral] == "#":
                tree_count += 1
            lateral = lateral + right
            vertical = vertical + down

        
    
            
        return(tree_count)
    except IndexError:
        return(tree_count)

In [13]:
routes = []
routes.append(tree_counter(forest_df, 1, 1))
routes

[79]

In [14]:
routes.append(tree_counter(forest_df, 3, 1))
routes

[79, 216]

In [15]:
routes.append(tree_counter(forest_df, 5, 1))
routes

[79, 216, 91]

In [16]:
routes.append(tree_counter(forest_df, 7, 1))
routes

[79, 216, 91, 96]

In [17]:
routes.append(tree_counter(forest_df, 1, 2))
routes

[79, 216, 91, 96, 45]

In [18]:
product = 1


for i in range(len(routes)):
    product = product * int(routes[i])
    
print(product)

6708199680